<a href="https://colab.research.google.com/github/ShiNik/wiki_ml/blob/master/linear_regression_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])

from IPython.display import display, HTML
display(HTML(df.to_html()))